p{
    margin-bottom: 4px;
}
h3 {
    margin-bottom: 2px;
}

.bg-success {
    background-color: $green !important;
}
.btn-success {
    background-color: $green;
    border: none;
}
.btn-primary {
    background-color: $blue;
    border: none;
}
