@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f3f4f9;
    font-family: "Kanit", sans-serif;
    padding-bottom: 50px;
}
nav {
    .navbar-brand {
        margin-right: 30px;
        .bb {
            font-size: 32px;
            font-weight: 700;
            color: #000000;
        }
        .soft {
            font-size: 32px;
            font-weight: 700;
            color: #ff5656;
        }
    }
    ul.navbar-nav {
        li.nav-item {
            margin-right: 10px;
            .nav-link {
                font-size: 14px;
            }
        }
    }
}
.title-page {
    font-size: 36px;
}
.card {
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    p {
        font-size: 14px;
    }
    span {
        font-size: 14px;
    }
    .more {
        text-decoration: none;
        color: $black;
    }
    &.income {
        height: auto;
        width: 100%;
        .text-income {
            font-size: 36px;
            color: $red;
        }
        .text-overdue {
            font-size: 36px;
            color: $yellow;
        }
        .stock-income {
            border-left: 4px solid $red;
            padding-left: 10px;
            display: inline-block;
            margin-bottom: 10px;
        }
        .text-stock-income {
            color: $red;
            display: inline-block;
            margin-left: 8px;
        }
    }
    &.repair {
        height: auto;
        width: 100%;
        .text-repair {
            font-size: 36px;
            color: $yellow;
        }
        .text-repair-today {
            font-size: 36px;
            color: $green;
        }
        .stock-repair {
            border-left: 4px solid $red;
            padding-left: 10px;
            display: inline-block;
            margin-bottom: 10px;
        }
        .text-stock-repair {
            color: $red;
            display: inline-block;
            margin-left: 8px;
        }
    }

    &.product {
        .text-product-almost {
            font-size: 36px;
            color: $yellow;
        }
        .product-stock {
            border-left: 4px solid $yellow;
            padding-left: 10px;
            display: inline-block;
            margin-bottom: 10px;
        }
        .text-product-stock {
            color: $yellow;
            display: inline-block;
            margin: 8px;
        }
        .text-caim {
            font-size: 36px;
            color: $blue;
        }
        .product-caim {
            border-left: 4px solid $blue;
            padding-left: 10px;
            display: inline-block;
            margin-bottom: 10px;
        }
        .text-product-caim {
            color: $blue;
            display: inline-block;
            margin: 8px;
        }
    }
    &.repair-list {
        .title-repair-list {
            border-left: 4px solid $green;
            padding-left: 10px;
            display: inline-block;
            margin-bottom: 10px;
            font-size: 15px;
        }
        .table-repair-list {
            font-size: 12px;
            overflow-x: auto;
            text-align: center;
            td {
                overflow: visible;
            }
            td.time {
                width: 100px;
            }
            td.name {
                width: 150px;
            }
            td.model {
                width: 150px;
            }
            td.detail {
                width: 150px;
            }
            td.status {
                width: 120px;
            }
            td.pricr {
                width: 100px;
            }
          
          
          
            .repair-time {
                color: $green;
            }
            .repair-status {
                color: $yellow;
            }
            .repair-appraise {
                color: $green;
            }
        }
    }
    &.history-management {
        height: auto;
        width: 100%;
        .title-history-list {
            border-left: 4px solid $blue;
            padding-left: 10px;
            display: inline-block;
            margin-bottom: 10px;
            font-size: 15px;
        }
        .table-history-list {
            font-size: 12px;
            overflow-x: auto;
        }
        .management-time {
            color: $blue;
        }
        .management-stock {
            color: $blue;
        }
    }
}

@media only screen and (max-device-width: 375px) {
    .username {
        //   display: none;
        z-index: 9999999;
    }
    .table-repair-list {
        width: 100%;
        overflow-x: auto;
    }
    .table-repair-list td {
        width: 100px;
    }
    .table-repair-list p {
        font-size: 12px;
    }
    .table-repair-list td.fix-left {
        position: sticky;
        left: 0;
        background-color: #fff;
    }
    .table-history-list {
        width: 100%;
        overflow-x: auto;
    }
    .table-history-list td {
        width: 100px;
    }
    .table-history-list p {
        font-size: 12px;
    }
}
